<mat-card appearance="outlined" class="registrar-card">
    <mat-card-content>  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Identificacion</mat-label>
        <input matInput placeholder="Ingresa tu nombre">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingresa tu nombre">
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo Electronico</mat-label>
        <input matInput placeholder="Ingresa tu contraseña" type="email">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Telefono</mat-label>
        <input matInput placeholder="Ingresa tu nombre">
      </mat-form-field>


      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Ingresa tu nombre">
      </mat-form-field>
      <div class="conten-boton">
        <button mat-raised-button color="primary" class="submit-button">Ingresar</button>
      </div>
    </mat-card-content>
  </mat-card>