.container-marcas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 40px 50px 50px; /* Margen superior, izquierdo/derecho, inferior */
  background-color: #02022e60;
}

mat-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3px; /* Margen en todos los lados */
  border-radius: 5px;
  backdrop-filter: blur(10px);
  border: 5px double #ccc;
  background-color: transparent;
  width: 10%; /* Considera usar un valor relativo (ej: 20%) si es para diferentes tamaños de pantalla */
  transition: box-shadow 0.3s ease; /* Transición suave para el box-shadow */
}

mat-card:hover {
  box-shadow: 0 0 20px #ffffff;
}

.nombre {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: azure;
  font-weight: bold;
  text-align: center;
  /* Evita el uso de !important a menos que sea absolutamente necesario */
}

img {
  display: block;
  margin: 0 auto; /* Simplificado a margin: 0 auto; */
  max-width: 100%;
  border-radius: 6px;
  width: 100%;
  height: 100px;
  object-fit: cover; /* Para evitar distorsión de la imagen, si es necesario */
}