.custom-card {
  margin: 20px auto;
  max-width: 90%;
  background: linear-gradient(to right, #07369b, #002fff, #001e80, #0d1253, #07076eb6, #110247a6, #010411d2);
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-direction: column;
}

h5 {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
}

.card-title {
  flex: 1;
  color: #fff;
  font-family: 'Black Ops One', sans-serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 0 0 15px #272323d5;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-card-content {
  width: 100%;
  display: flex;
  gap: 20px;
}

.card-title div[appAnimationSaludo] {
  position: relative;
  left: 0;
  width: 100%;
  transform: translateX(0);
  transition: transform 3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.card-title div[appAnimationSaludo].hidden {
  display: none;
}

.app-registro-container {
  flex: 1;
  max-width: 40%; /* Registro limitado al lado derecho */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

app-registro {
  max-width: 600px; /* Limita el tamaño del componente registro */
  width: 100%;
  box-sizing: border-box;
}
